<h1>Lightning Talk List</h1>
<p><%#= link_to 'Generate Lightning Talks', lightning_talks_path, method: :post %></p>
<ol class='list'>
<% @events.each do |event| %>
  <li><%= event.start_time.strftime('%d %b %Y') %>: <%= event.name %></li>
<% end %>
</ol>
