// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.list {
  li {
    padding: 10px 0px;
    margin: 10px 0px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
  }
}

.stand-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  li{
    list-style: none;
    font-size: larger;
    padding: 10px 0px;
  }
}